:root {
  /* COLORS */
  --black: #000;
  --white: #fbf5df;
  --blue58: #586ba4;
  --yellowfc: #fcdc57;
  --pinkfc: #fcb0b3;
  --reda1: #a10035;

  /* FONTS */
  --font-sans: "Nunito", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "VT323", monospace;

  /* VARIABLES */
  --step: 5rem;
}